* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
input,
button,
select {
  font-family: monospace, Courier;
}
body {
  padding: 1rem 1rem 0 1rem;
  margin: 0 auto;
  flex-direction: column;
  gap: 2rem;
}
.flex {
  display: flex;
  align-items: center;
}
form {
  flex-direction: column;
  gap: 1rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
}
label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: tomato;
  color: white;
}

input {
  padding: 0.3rem;

  border-radius: 0.5rem;
}

#cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 250px;
  padding: 1.2rem;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 0.8rem;
  text-align: justify;
}

img {
  width: 100%;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

.cardBtn {
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}